@model List<MINIMVCPROJECT.Models.BlogsTable>

@{
    ViewBag.Title = "AllBlogs";
}

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered table-stripped">
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div>
                                <h2>@item.Messages</h2>
                                <hr />
                                <p>Travel Date</p>


                                @{
                                    var Mach = @item.TravelDate;

                                }
                            <h5>@Mach</h5>
                                <hr />
                                <p>
                                   <img src="@item.Images" style="width:1000px; height:500px" />
                                </p>
                                <p>
                                    @item.Details

                                </p>
                                <p>
                                    @*@Html.ActionLink("View More....", "Display", new { id = item.BlogId })*@
                                    @*@Html.ActionLink("DELETE THIS BLOG", "Delete", new { id = item.BlogId })
                                    @Html.ActionLink("Edit ", "UpdateRec", new { id = item.BlogId })*@
                                </p>
                                
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>

